/bleachbit
/bleachbit.egg-info
/bleachbit.png
/bleachbit.py
/bleachbit.spec
/cleaners
/COPYING
/data
/debian
/doc
/Makefile
/MANIFEST.in
/org.bleachbit.BleachBit.desktop
/org.bleachbit.BleachBit.metainfo.xml
/org.bleachbit.policy
/PKG-INFO
/po
/setup.cfg
/setup.py
/tests
/windows