/laqueli
/laqueli.egg-info
/laqueli.png
/laqueli.py
/laqueli.spec
/cleaners
/COPYING
/data
/debian
/doc
/Makefile
/MANIFEST.in
/org.laqueli.LaQueli.desktop
/org.laqueli.LaQueli.metainfo.xml
/org.laqueli.policy
/PKG-INFO
/po
/setup.cfg
/setup.py
/tests
/windows