/LaQueli
/LaQueli.egg-info
/LaQueli.png
/LaQueli.py
/LaQueli.spec
/cleaners
/COPYING
/data
/debian
/doc
/Makefile
/MANIFEST.in
/org.LaQueli.LaQueli.desktop
/org.LaQueli.LaQueli.metainfo.xml
/org.LaQueli.policy
/PKG-INFO
/po
/setup.cfg
/setup.py
/tests
/windows